body{
    background: radial-gradient( pink,white,white);
}
header{
    display: flex;
    gap: 30px;
    margin-top: 50px;
    align-items: center;


}
.marti{
    display: flex;
    align-items: center;
    margin-left: 200px;
    gap: 20px;
}
ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-left: 40px;

}
ul li a{

    text-decoration: none;
}
.star{
    width: 300px;
    height: 30px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: none;
    color: black;
}
button {
    width: 200px;
    height: 40px;
    background-color: rgb(25, 25, 58);
    color: white;
    border-radius: 40px;
}

.bar{
    display: flex;
    padding-top: 150px;
    margin-left: 200px;
}
.rab{
    font-size: 20px;
    justify-content: space-around;
    display: flex;
    gap: 90px;

}
.rab p{
    color: gray;
}
 .rab .pp{
    color: lightskyblue;
}
.boo{
    width: 200px;
    height: 40px;


}

@media(max-width:768px){
    ul{
        display: none;
    }
    
}
@media(max-width:768px){
    .rab{
        flex-direction: column;
    }
    .ta{
        width: 100%;
    }
    .mm{
        width: 100%;
    }

}